<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsq.datawatch.dao.MachinforMapper" >
  <resultMap id="BaseResultMap" type="com.zsq.datawatch.entity.Machinfor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="machnum" property="machnum" jdbcType="CHAR" />
    <result column="machmac" property="machmac" jdbcType="CHAR" />
    <result column="machip" property="machip" jdbcType="CHAR" />
    <result column="machport" property="machport" jdbcType="INTEGER" />
    <result column="machmode" property="machmode" jdbcType="VARCHAR" />
    <result column="machmotorstatue" property="machmotorstatue" jdbcType="VARCHAR" />
    <result column="machheartstatue" property="machheartstatue" jdbcType="VARCHAR" />
    <result column="com1statue" property="com1statue" jdbcType="INTEGER" />
    <result column="com2statue" property="com2statue" jdbcType="INTEGER" />
    <result column="auststatue" property="auststatue" jdbcType="INTEGER" />
    <result column="temper1statue" property="temper1statue" jdbcType="VARCHAR" />
    <result column="temper2statue" property="temper2statue" jdbcType="VARCHAR" />
    <result column="temper3statue" property="temper3statue" jdbcType="VARCHAR" />
    <result column="temper4statue" property="temper4statue" jdbcType="VARCHAR" />
    <result column="temper5statue" property="temper5statue" jdbcType="VARCHAR" />
    <result column="temper6statue" property="temper6statue" jdbcType="VARCHAR" />
    <result column="temper7statue" property="temper7statue" jdbcType="VARCHAR" />
    <result column="temper8statue" property="temper8statue" jdbcType="VARCHAR" />
    <result column="temper9statue" property="temper9statue" jdbcType="VARCHAR" />
    <result column="temper1value" property="temper1value" jdbcType="INTEGER" />
    <result column="temper2value" property="temper2value" jdbcType="INTEGER" />
    <result column="temper3value" property="temper3value" jdbcType="INTEGER" />
    <result column="temper4value" property="temper4value" jdbcType="INTEGER" />
    <result column="temper5value" property="temper5value" jdbcType="INTEGER" />
    <result column="temper6value" property="temper6value" jdbcType="INTEGER" />
    <result column="temper7value" property="temper7value" jdbcType="INTEGER" />
    <result column="temper8value" property="temper8value" jdbcType="INTEGER" />
    <result column="temper9value" property="temper9value" jdbcType="INTEGER" />
    <result column="oiltempervalue" property="oiltempervalue" jdbcType="INTEGER" />
    <result column="ruler1value" property="ruler1value" jdbcType="INTEGER" />
    <result column="ruler2value" property="ruler2value" jdbcType="INTEGER" />
    <result column="ruler3value" property="ruler3value" jdbcType="INTEGER" />
    <result column="ruler4value" property="ruler4value" jdbcType="INTEGER" />
    <result column="ruler5value" property="ruler5value" jdbcType="INTEGER" />
    <result column="ruler6value" property="ruler6value" jdbcType="INTEGER" />
    <result column="ruler7value" property="ruler7value" jdbcType="INTEGER" />
    <result column="ruler8value" property="ruler8value" jdbcType="INTEGER" />
    <result column="oper1value" property="oper1value" jdbcType="INTEGER" />
    <result column="oper2value" property="oper2value" jdbcType="INTEGER" />
    <result column="oper3value" property="oper3value" jdbcType="INTEGER" />
    <result column="oper4value" property="oper4value" jdbcType="INTEGER" />
    <result column="oper5value" property="oper5value" jdbcType="INTEGER" />
    <result column="oper6value" property="oper6value" jdbcType="INTEGER" />
    <result column="oper7value" property="oper7value" jdbcType="INTEGER" />
    <result column="minorVer" property="minorver" jdbcType="VARCHAR" />
    <result column="msgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="contentLength" property="contentlength" jdbcType="VARCHAR" />
    <result column="oper8value" property="oper8value" jdbcType="INTEGER" />
    <result column="oper9value" property="oper9value" jdbcType="INTEGER" />
    <result column="reciverDate" property="reciverdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, machnum, machmac, machip, machport, machmode, machmotorstatue, machheartstatue, 
    com1statue, com2statue, auststatue, temper1statue, temper2statue, temper3statue, 
    temper4statue, temper5statue, temper6statue, temper7statue, temper8statue, temper9statue, 
    temper1value, temper2value, temper3value, temper4value, temper5value, temper6value, 
    temper7value, temper8value, temper9value, oiltempervalue, ruler1value, ruler2value, 
    ruler3value, ruler4value, ruler5value, ruler6value, ruler7value, ruler8value, oper1value, 
    oper2value, oper3value, oper4value, oper5value, oper6value, oper7value, minorVer, 
    msgType, contentLength, oper8value, oper9value, reciverDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from machinfor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from machinfor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zsq.datawatch.entity.Machinfor" >
    <!-- <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey> -->
    insert into machinfor (id, machnum, machmac, 
      machip, machport, machmode, 
      machmotorstatue, machheartstatue, com1statue, 
      com2statue, auststatue, temper1statue, 
      temper2statue, temper3statue, temper4statue, 
      temper5statue, temper6statue, temper7statue, 
      temper8statue, temper9statue, temper1value, 
      temper2value, temper3value, temper4value, 
      temper5value, temper6value, temper7value, 
      temper8value, temper9value, oiltempervalue, 
      ruler1value, ruler2value, ruler3value, 
      ruler4value, ruler5value, ruler6value, 
      ruler7value, ruler8value, oper1value, 
      oper2value, oper3value, oper4value, 
      oper5value, oper6value, oper7value, 
      minorVer, msgType, contentLength, 
      oper8value, oper9value, reciverDate
      )
    values (#{id,jdbcType=INTEGER}, #{machnum,jdbcType=CHAR}, #{machmac,jdbcType=CHAR}, 
      #{machip,jdbcType=CHAR}, #{machport,jdbcType=INTEGER}, #{machmode,jdbcType=VARCHAR}, 
      #{machmotorstatue,jdbcType=VARCHAR}, #{machheartstatue,jdbcType=VARCHAR}, #{com1statue,jdbcType=INTEGER}, 
      #{com2statue,jdbcType=INTEGER}, #{auststatue,jdbcType=INTEGER}, #{temper1statue,jdbcType=VARCHAR}, 
      #{temper2statue,jdbcType=VARCHAR}, #{temper3statue,jdbcType=VARCHAR}, #{temper4statue,jdbcType=VARCHAR}, 
      #{temper5statue,jdbcType=VARCHAR}, #{temper6statue,jdbcType=VARCHAR}, #{temper7statue,jdbcType=VARCHAR}, 
      #{temper8statue,jdbcType=VARCHAR}, #{temper9statue,jdbcType=VARCHAR}, #{temper1value,jdbcType=INTEGER}, 
      #{temper2value,jdbcType=INTEGER}, #{temper3value,jdbcType=INTEGER}, #{temper4value,jdbcType=INTEGER}, 
      #{temper5value,jdbcType=INTEGER}, #{temper6value,jdbcType=INTEGER}, #{temper7value,jdbcType=INTEGER}, 
      #{temper8value,jdbcType=INTEGER}, #{temper9value,jdbcType=INTEGER}, #{oiltempervalue,jdbcType=INTEGER}, 
      #{ruler1value,jdbcType=INTEGER}, #{ruler2value,jdbcType=INTEGER}, #{ruler3value,jdbcType=INTEGER}, 
      #{ruler4value,jdbcType=INTEGER}, #{ruler5value,jdbcType=INTEGER}, #{ruler6value,jdbcType=INTEGER}, 
      #{ruler7value,jdbcType=INTEGER}, #{ruler8value,jdbcType=INTEGER}, #{oper1value,jdbcType=INTEGER}, 
      #{oper2value,jdbcType=INTEGER}, #{oper3value,jdbcType=INTEGER}, #{oper4value,jdbcType=INTEGER}, 
      #{oper5value,jdbcType=INTEGER}, #{oper6value,jdbcType=INTEGER}, #{oper7value,jdbcType=INTEGER}, 
      #{minorver,jdbcType=VARCHAR}, #{msgtype,jdbcType=VARCHAR}, #{contentlength,jdbcType=VARCHAR}, 
      #{oper8value,jdbcType=INTEGER}, #{oper9value,jdbcType=INTEGER}, #{reciverdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsq.datawatch.entity.Machinfor" >
    insert into machinfor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="machnum != null" >
        machnum,
      </if>
      <if test="machmac != null" >
        machmac,
      </if>
      <if test="machip != null" >
        machip,
      </if>
      <if test="machport != null" >
        machport,
      </if>
      <if test="machmode != null" >
        machmode,
      </if>
      <if test="machmotorstatue != null" >
        machmotorstatue,
      </if>
      <if test="machheartstatue != null" >
        machheartstatue,
      </if>
      <if test="com1statue != null" >
        com1statue,
      </if>
      <if test="com2statue != null" >
        com2statue,
      </if>
      <if test="auststatue != null" >
        auststatue,
      </if>
      <if test="temper1statue != null" >
        temper1statue,
      </if>
      <if test="temper2statue != null" >
        temper2statue,
      </if>
      <if test="temper3statue != null" >
        temper3statue,
      </if>
      <if test="temper4statue != null" >
        temper4statue,
      </if>
      <if test="temper5statue != null" >
        temper5statue,
      </if>
      <if test="temper6statue != null" >
        temper6statue,
      </if>
      <if test="temper7statue != null" >
        temper7statue,
      </if>
      <if test="temper8statue != null" >
        temper8statue,
      </if>
      <if test="temper9statue != null" >
        temper9statue,
      </if>
      <if test="temper1value != null" >
        temper1value,
      </if>
      <if test="temper2value != null" >
        temper2value,
      </if>
      <if test="temper3value != null" >
        temper3value,
      </if>
      <if test="temper4value != null" >
        temper4value,
      </if>
      <if test="temper5value != null" >
        temper5value,
      </if>
      <if test="temper6value != null" >
        temper6value,
      </if>
      <if test="temper7value != null" >
        temper7value,
      </if>
      <if test="temper8value != null" >
        temper8value,
      </if>
      <if test="temper9value != null" >
        temper9value,
      </if>
      <if test="oiltempervalue != null" >
        oiltempervalue,
      </if>
      <if test="ruler1value != null" >
        ruler1value,
      </if>
      <if test="ruler2value != null" >
        ruler2value,
      </if>
      <if test="ruler3value != null" >
        ruler3value,
      </if>
      <if test="ruler4value != null" >
        ruler4value,
      </if>
      <if test="ruler5value != null" >
        ruler5value,
      </if>
      <if test="ruler6value != null" >
        ruler6value,
      </if>
      <if test="ruler7value != null" >
        ruler7value,
      </if>
      <if test="ruler8value != null" >
        ruler8value,
      </if>
      <if test="oper1value != null" >
        oper1value,
      </if>
      <if test="oper2value != null" >
        oper2value,
      </if>
      <if test="oper3value != null" >
        oper3value,
      </if>
      <if test="oper4value != null" >
        oper4value,
      </if>
      <if test="oper5value != null" >
        oper5value,
      </if>
      <if test="oper6value != null" >
        oper6value,
      </if>
      <if test="oper7value != null" >
        oper7value,
      </if>
      <if test="minorver != null" >
        minorVer,
      </if>
      <if test="msgtype != null" >
        msgType,
      </if>
      <if test="contentlength != null" >
        contentLength,
      </if>
      <if test="oper8value != null" >
        oper8value,
      </if>
      <if test="oper9value != null" >
        oper9value,
      </if>
      <if test="reciverdate != null" >
        reciverDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="machnum != null" >
        #{machnum,jdbcType=CHAR},
      </if>
      <if test="machmac != null" >
        #{machmac,jdbcType=CHAR},
      </if>
      <if test="machip != null" >
        #{machip,jdbcType=CHAR},
      </if>
      <if test="machport != null" >
        #{machport,jdbcType=INTEGER},
      </if>
      <if test="machmode != null" >
        #{machmode,jdbcType=VARCHAR},
      </if>
      <if test="machmotorstatue != null" >
        #{machmotorstatue,jdbcType=VARCHAR},
      </if>
      <if test="machheartstatue != null" >
        #{machheartstatue,jdbcType=VARCHAR},
      </if>
      <if test="com1statue != null" >
        #{com1statue,jdbcType=INTEGER},
      </if>
      <if test="com2statue != null" >
        #{com2statue,jdbcType=INTEGER},
      </if>
      <if test="auststatue != null" >
        #{auststatue,jdbcType=INTEGER},
      </if>
      <if test="temper1statue != null" >
        #{temper1statue,jdbcType=VARCHAR},
      </if>
      <if test="temper2statue != null" >
        #{temper2statue,jdbcType=VARCHAR},
      </if>
      <if test="temper3statue != null" >
        #{temper3statue,jdbcType=VARCHAR},
      </if>
      <if test="temper4statue != null" >
        #{temper4statue,jdbcType=VARCHAR},
      </if>
      <if test="temper5statue != null" >
        #{temper5statue,jdbcType=VARCHAR},
      </if>
      <if test="temper6statue != null" >
        #{temper6statue,jdbcType=VARCHAR},
      </if>
      <if test="temper7statue != null" >
        #{temper7statue,jdbcType=VARCHAR},
      </if>
      <if test="temper8statue != null" >
        #{temper8statue,jdbcType=VARCHAR},
      </if>
      <if test="temper9statue != null" >
        #{temper9statue,jdbcType=VARCHAR},
      </if>
      <if test="temper1value != null" >
        #{temper1value,jdbcType=INTEGER},
      </if>
      <if test="temper2value != null" >
        #{temper2value,jdbcType=INTEGER},
      </if>
      <if test="temper3value != null" >
        #{temper3value,jdbcType=INTEGER},
      </if>
      <if test="temper4value != null" >
        #{temper4value,jdbcType=INTEGER},
      </if>
      <if test="temper5value != null" >
        #{temper5value,jdbcType=INTEGER},
      </if>
      <if test="temper6value != null" >
        #{temper6value,jdbcType=INTEGER},
      </if>
      <if test="temper7value != null" >
        #{temper7value,jdbcType=INTEGER},
      </if>
      <if test="temper8value != null" >
        #{temper8value,jdbcType=INTEGER},
      </if>
      <if test="temper9value != null" >
        #{temper9value,jdbcType=INTEGER},
      </if>
      <if test="oiltempervalue != null" >
        #{oiltempervalue,jdbcType=INTEGER},
      </if>
      <if test="ruler1value != null" >
        #{ruler1value,jdbcType=INTEGER},
      </if>
      <if test="ruler2value != null" >
        #{ruler2value,jdbcType=INTEGER},
      </if>
      <if test="ruler3value != null" >
        #{ruler3value,jdbcType=INTEGER},
      </if>
      <if test="ruler4value != null" >
        #{ruler4value,jdbcType=INTEGER},
      </if>
      <if test="ruler5value != null" >
        #{ruler5value,jdbcType=INTEGER},
      </if>
      <if test="ruler6value != null" >
        #{ruler6value,jdbcType=INTEGER},
      </if>
      <if test="ruler7value != null" >
        #{ruler7value,jdbcType=INTEGER},
      </if>
      <if test="ruler8value != null" >
        #{ruler8value,jdbcType=INTEGER},
      </if>
      <if test="oper1value != null" >
        #{oper1value,jdbcType=INTEGER},
      </if>
      <if test="oper2value != null" >
        #{oper2value,jdbcType=INTEGER},
      </if>
      <if test="oper3value != null" >
        #{oper3value,jdbcType=INTEGER},
      </if>
      <if test="oper4value != null" >
        #{oper4value,jdbcType=INTEGER},
      </if>
      <if test="oper5value != null" >
        #{oper5value,jdbcType=INTEGER},
      </if>
      <if test="oper6value != null" >
        #{oper6value,jdbcType=INTEGER},
      </if>
      <if test="oper7value != null" >
        #{oper7value,jdbcType=INTEGER},
      </if>
      <if test="minorver != null" >
        #{minorver,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="contentlength != null" >
        #{contentlength,jdbcType=VARCHAR},
      </if>
      <if test="oper8value != null" >
        #{oper8value,jdbcType=INTEGER},
      </if>
      <if test="oper9value != null" >
        #{oper9value,jdbcType=INTEGER},
      </if>
      <if test="reciverdate != null" >
        #{reciverdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsq.datawatch.entity.Machinfor" >
    update machinfor
    <set >
      <if test="machnum != null" >
        machnum = #{machnum,jdbcType=CHAR},
      </if>
      <if test="machmac != null" >
        machmac = #{machmac,jdbcType=CHAR},
      </if>
      <if test="machip != null" >
        machip = #{machip,jdbcType=CHAR},
      </if>
      <if test="machport != null" >
        machport = #{machport,jdbcType=INTEGER},
      </if>
      <if test="machmode != null" >
        machmode = #{machmode,jdbcType=VARCHAR},
      </if>
      <if test="machmotorstatue != null" >
        machmotorstatue = #{machmotorstatue,jdbcType=VARCHAR},
      </if>
      <if test="machheartstatue != null" >
        machheartstatue = #{machheartstatue,jdbcType=VARCHAR},
      </if>
      <if test="com1statue != null" >
        com1statue = #{com1statue,jdbcType=INTEGER},
      </if>
      <if test="com2statue != null" >
        com2statue = #{com2statue,jdbcType=INTEGER},
      </if>
      <if test="auststatue != null" >
        auststatue = #{auststatue,jdbcType=INTEGER},
      </if>
      <if test="temper1statue != null" >
        temper1statue = #{temper1statue,jdbcType=VARCHAR},
      </if>
      <if test="temper2statue != null" >
        temper2statue = #{temper2statue,jdbcType=VARCHAR},
      </if>
      <if test="temper3statue != null" >
        temper3statue = #{temper3statue,jdbcType=VARCHAR},
      </if>
      <if test="temper4statue != null" >
        temper4statue = #{temper4statue,jdbcType=VARCHAR},
      </if>
      <if test="temper5statue != null" >
        temper5statue = #{temper5statue,jdbcType=VARCHAR},
      </if>
      <if test="temper6statue != null" >
        temper6statue = #{temper6statue,jdbcType=VARCHAR},
      </if>
      <if test="temper7statue != null" >
        temper7statue = #{temper7statue,jdbcType=VARCHAR},
      </if>
      <if test="temper8statue != null" >
        temper8statue = #{temper8statue,jdbcType=VARCHAR},
      </if>
      <if test="temper9statue != null" >
        temper9statue = #{temper9statue,jdbcType=VARCHAR},
      </if>
      <if test="temper1value != null" >
        temper1value = #{temper1value,jdbcType=INTEGER},
      </if>
      <if test="temper2value != null" >
        temper2value = #{temper2value,jdbcType=INTEGER},
      </if>
      <if test="temper3value != null" >
        temper3value = #{temper3value,jdbcType=INTEGER},
      </if>
      <if test="temper4value != null" >
        temper4value = #{temper4value,jdbcType=INTEGER},
      </if>
      <if test="temper5value != null" >
        temper5value = #{temper5value,jdbcType=INTEGER},
      </if>
      <if test="temper6value != null" >
        temper6value = #{temper6value,jdbcType=INTEGER},
      </if>
      <if test="temper7value != null" >
        temper7value = #{temper7value,jdbcType=INTEGER},
      </if>
      <if test="temper8value != null" >
        temper8value = #{temper8value,jdbcType=INTEGER},
      </if>
      <if test="temper9value != null" >
        temper9value = #{temper9value,jdbcType=INTEGER},
      </if>
      <if test="oiltempervalue != null" >
        oiltempervalue = #{oiltempervalue,jdbcType=INTEGER},
      </if>
      <if test="ruler1value != null" >
        ruler1value = #{ruler1value,jdbcType=INTEGER},
      </if>
      <if test="ruler2value != null" >
        ruler2value = #{ruler2value,jdbcType=INTEGER},
      </if>
      <if test="ruler3value != null" >
        ruler3value = #{ruler3value,jdbcType=INTEGER},
      </if>
      <if test="ruler4value != null" >
        ruler4value = #{ruler4value,jdbcType=INTEGER},
      </if>
      <if test="ruler5value != null" >
        ruler5value = #{ruler5value,jdbcType=INTEGER},
      </if>
      <if test="ruler6value != null" >
        ruler6value = #{ruler6value,jdbcType=INTEGER},
      </if>
      <if test="ruler7value != null" >
        ruler7value = #{ruler7value,jdbcType=INTEGER},
      </if>
      <if test="ruler8value != null" >
        ruler8value = #{ruler8value,jdbcType=INTEGER},
      </if>
      <if test="oper1value != null" >
        oper1value = #{oper1value,jdbcType=INTEGER},
      </if>
      <if test="oper2value != null" >
        oper2value = #{oper2value,jdbcType=INTEGER},
      </if>
      <if test="oper3value != null" >
        oper3value = #{oper3value,jdbcType=INTEGER},
      </if>
      <if test="oper4value != null" >
        oper4value = #{oper4value,jdbcType=INTEGER},
      </if>
      <if test="oper5value != null" >
        oper5value = #{oper5value,jdbcType=INTEGER},
      </if>
      <if test="oper6value != null" >
        oper6value = #{oper6value,jdbcType=INTEGER},
      </if>
      <if test="oper7value != null" >
        oper7value = #{oper7value,jdbcType=INTEGER},
      </if>
      <if test="minorver != null" >
        minorVer = #{minorver,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        msgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="contentlength != null" >
        contentLength = #{contentlength,jdbcType=VARCHAR},
      </if>
      <if test="oper8value != null" >
        oper8value = #{oper8value,jdbcType=INTEGER},
      </if>
      <if test="oper9value != null" >
        oper9value = #{oper9value,jdbcType=INTEGER},
      </if>
      <if test="reciverdate != null" >
        reciverDate = #{reciverdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsq.datawatch.entity.Machinfor" >
    update machinfor
    set machnum = #{machnum,jdbcType=CHAR},
      machmac = #{machmac,jdbcType=CHAR},
      machip = #{machip,jdbcType=CHAR},
      machport = #{machport,jdbcType=INTEGER},
      machmode = #{machmode,jdbcType=VARCHAR},
      machmotorstatue = #{machmotorstatue,jdbcType=VARCHAR},
      machheartstatue = #{machheartstatue,jdbcType=VARCHAR},
      com1statue = #{com1statue,jdbcType=INTEGER},
      com2statue = #{com2statue,jdbcType=INTEGER},
      auststatue = #{auststatue,jdbcType=INTEGER},
      temper1statue = #{temper1statue,jdbcType=VARCHAR},
      temper2statue = #{temper2statue,jdbcType=VARCHAR},
      temper3statue = #{temper3statue,jdbcType=VARCHAR},
      temper4statue = #{temper4statue,jdbcType=VARCHAR},
      temper5statue = #{temper5statue,jdbcType=VARCHAR},
      temper6statue = #{temper6statue,jdbcType=VARCHAR},
      temper7statue = #{temper7statue,jdbcType=VARCHAR},
      temper8statue = #{temper8statue,jdbcType=VARCHAR},
      temper9statue = #{temper9statue,jdbcType=VARCHAR},
      temper1value = #{temper1value,jdbcType=INTEGER},
      temper2value = #{temper2value,jdbcType=INTEGER},
      temper3value = #{temper3value,jdbcType=INTEGER},
      temper4value = #{temper4value,jdbcType=INTEGER},
      temper5value = #{temper5value,jdbcType=INTEGER},
      temper6value = #{temper6value,jdbcType=INTEGER},
      temper7value = #{temper7value,jdbcType=INTEGER},
      temper8value = #{temper8value,jdbcType=INTEGER},
      temper9value = #{temper9value,jdbcType=INTEGER},
      oiltempervalue = #{oiltempervalue,jdbcType=INTEGER},
      ruler1value = #{ruler1value,jdbcType=INTEGER},
      ruler2value = #{ruler2value,jdbcType=INTEGER},
      ruler3value = #{ruler3value,jdbcType=INTEGER},
      ruler4value = #{ruler4value,jdbcType=INTEGER},
      ruler5value = #{ruler5value,jdbcType=INTEGER},
      ruler6value = #{ruler6value,jdbcType=INTEGER},
      ruler7value = #{ruler7value,jdbcType=INTEGER},
      ruler8value = #{ruler8value,jdbcType=INTEGER},
      oper1value = #{oper1value,jdbcType=INTEGER},
      oper2value = #{oper2value,jdbcType=INTEGER},
      oper3value = #{oper3value,jdbcType=INTEGER},
      oper4value = #{oper4value,jdbcType=INTEGER},
      oper5value = #{oper5value,jdbcType=INTEGER},
      oper6value = #{oper6value,jdbcType=INTEGER},
      oper7value = #{oper7value,jdbcType=INTEGER},
      minorVer = #{minorver,jdbcType=VARCHAR},
      msgType = #{msgtype,jdbcType=VARCHAR},
      contentLength = #{contentlength,jdbcType=VARCHAR},
      oper8value = #{oper8value,jdbcType=INTEGER},
      oper9value = #{oper9value,jdbcType=INTEGER},
      reciverDate = #{reciverdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>